@import "./../../scss/variables.scss";

.side-panel {
  width: 40em;
  background: $white;
  color: $white;
  z-index: 1;
  height: 100%;
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  .side-panel-header {
    background: $accent;
    color: $white;
    padding: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .sub-heading {
      margin: 0 0.5em;
      color: $white;
    }
  }
  .side-panel-content {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    .list-item:first-child {
      margin-top: 0;
    }
  }
}