@import "./../../scss/variables.scss";

.recent-data-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5em 0.75em;
    background: $white;
    margin-right: 1em;
    margin-bottom: 1em;
    text-align: left;
    box-shadow: #e8e8e8 2px 3px 3px;
    p {
      margin: 0;
      display: flex;
    }
    &:first-child {
      margin-left: 0;
    }
    .trend {
      color: $accent;
      font-weight: $medium-weight;
      margin-bottom: 0.75em;
    }
    .one-day-high, .one-day-low {
      color: $darker;
      font-weight: $medium-weight;
    }
  }
}

.mobile {
  .recent-data-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    li {
      height: initial;
      width: initial;
    }
  }
}