@import './scss/variables.scss';

.mobile {
  .historical-actions {
    width: 100%;
    .button {
      margin-right: 1em;
      margin-bottom: 1em;
    }
    .input-box {
      width: 100%;
      margin-bottom: 1em;
      .date-picker {
        width: 100%;
      }
    }
  }
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
  }
}
