$font-family: "Poppins", Helvetica, Arial, sans-serif;

// Font sizes
$l-size: 2em;
$m-size: 1.25em;
$s-size: 1em;
$xs-size: 0.9em;

// Transition lengths
$transition-slow: 0.2s;
$transition-fast: 0.1s;

// Font Weights
$bold-weight: 700;
$semibold-weight: 600;
$medium-weight: 500;
$regular-weight: 400;

// Colours
$dark: #5E5E5E;
$darker: #535353;
$darkest: #313131;
$darkester: #242424;

$white: #fefefe;

$grey-light: #f7f7f7;
$grey-dark: #f0f0f0;
$grey-darker: #ececec;

$accent: #5a67f0;
$accent-dark: #515DF5;
$red: #EF6550;