$l-size: 1.5em;
$m-size: 1.25em;
$s-size: 1.1em;

$transition-slow: 0.2s;
$transition-fast: 0.05s;

$bold-weight: 700;
$medium-weight: 500;
$regular-weight: 400;

$accent: #5d61da;
$darker: #222;
$white: #fefefe;