@import './scss/variables.scss';

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  text-align: center;
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3em;
  background: $accent-dark;
  color: $white;
  .nav__side {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.2em;
    .title--nav {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin: 0;
    }
  }
  .nav__links {
    justify-content: space-between;
    align-items: center;
    display: flex;
    .link {
      padding: 0 0.35em;
      justify-content: center;
      align-items: center;
      display: flex;
      color: $white;
      text-decoration: none;
      font-weight: $medium-weight;
      &.router-link-exact-active {
        text-decoration: underline;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.input-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.4em 0;
  p {
    margin: 0;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  .list-item {
    background: $white;
    padding-top: 0.5em;
    color: $darkest;
    border-bottom: 5px solid $grey-dark;
    & > div {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    &.active {
      background: $grey-darker;
      .actions--active {
        background: $grey-darker;
      }
    }
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5em;
      box-shadow: #e8e8e8 2px 3px 3px;
      .button {
        margin-right: 0.5em;
      }
    }
  }
}

.button {
  padding: calc(.5em - 2px) calc(.8em - 2px);
  cursor: pointer;
  font-family: $font-family;
  font-weight: $medium-weight;
  font-size: $s-size;
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  &--primary {
    color: $white;
    background: $accent;
    border: 2px solid $accent;
    transition: background $transition-fast;
    &:hover {
      background: $accent-dark;
    }
  }
  &--secondary {
    color: $white;
    background: $darkest;
    border: 2px solid $darkest;
    transition: background $transition-fast;
    &:hover {
      background: $darkester;
    }
  }
  &--tertiary {
    border: 2px solid $darkest;
    background: $white;
    color: $darkest;
    transition: background $transition-fast;
    &:hover {
      background: $grey-dark;
    }
  }
}

.input {
  &--text {
    font-family: $font-family;
    font-weight: $medium-weight;
    font-size: $s-size;
    padding: 0.8em 0.75em;
    background: $white;
    border: 2px solid $darkest;
    font-weight: $medium-weight;
    font-size: $s-size;
    border-radius: 0;
    -webkit-appearance: none;
    transition: background $transition-fast;
    &:hover {
      background: $grey-light;
    }
  }
  &--small {
    padding: 0.4em 0.325em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 25em;
  text-align: left;
  padding: 1em;
  margin-top: 1em;
  background: $white;
  height: min-content;
  .button, .link {
    margin: 0.5em 0;
  }
  .title, .heading {
    width: 100%;
    text-align: center;
  }
  .form {
    width: 100%;
  }
  .input-box {
    width: 100%;
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.title {
  font-size: $l-size;
  font-weight: $semibold-weight;
  margin: 0;
  &--nav {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
  }
}

.heading {
  font-size: $m-size;
  font-weight: $semibold-weight;
  margin: 0;
}

.sub-heading {
  font-size: $m-size;
  font-weight: $medium-weight;
  margin: 0;
}

.text {
  font-size: $s-size;
  font-weight: $regular-weight;
  &--bold {
    font-weight: $semibold-weight;
  }
}

.link {
  font-size: $s-size;
  font-weight: $medium-weight;
  text-decoration: underline;
  color: $darkest;
  &:visited {
    color: $darkest;
  }
  &:hover {
    text-decoration: underline;
  }
}

.sub-text {
  font-size: $xs-size;
  font-weight: $regular-weight;
}

.historical-chart {
  text-align: left;
  padding: 0.5em;
  margin: 0.5em 0;
  width: 95%;
  background: $white;
  box-shadow: #e8e8e8 2px 3px 3px;
  .chart {
    max-height: 15em;
    max-width: 80em;
  }
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 auto;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  box-sizing: border-box;
  .recent-data-list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 8em;
      height: 4em;
      padding: 1em;
      background: $white;
      margin-right: 1em;
      margin-bottom: 1em;
      text-align: left;
      box-shadow: #e8e8e8 2px 3px 3px;
      p {
        margin: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.toasted {
  font-family: $font-family;
  font-size: $s-size;
}

input.vc-text-base.vc-border {
  font-family: $font-family;
  font-size: $s-size;
  border: 2px solid $darkest;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0.8em 0.75em;
  background: $white;
}

.vc-popover-content-wrapper {
  font-family: $font-family;
}

.hidden {
  display: none !important;
}

.mobile-menu {
  display: flex;
  flex: 1 auto;
  background: $darkest;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    .link {
      color: $white;
      padding: 1em 0;
      font-size: $m-size;
      font-weight: $medium-weight;
    }
  }
}

.underline {
  text-decoration: underline;
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: $dark; 
}
*::-webkit-scrollbar-thumb {
  background: $darkest;
}