@import './scss/variables.scss';

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  text-align: center;
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.input-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.4em 0;
  text-align: left;
  p {
    margin: 0;
  }
}

.ordered-list {
  padding: 0 0 0 1em;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  .list-item {
    background: $white;
    padding-top: 0.5em;
    color: $darkest;
    border-bottom: 5px solid $grey-dark;
    & > div {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    &.active {
      background: $grey-darker;
      .actions--active {
        background: $grey-darker;
      }
    }
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5em;
      box-shadow: #e8e8e8 2px 3px 3px;
      .button {
        margin-right: 0.5em;
      }
    }
  }
}

.mobile {
  .historical-actions .input-box {
    width: 100%;
    margin-bottom: 1em;
    .date-picker {
      width: 100%;
    }
  }
}

.date-picker {
  display: flex;
  &.active {
    color: green;
    input.vc-border {
      border: 2px solid $accent;
    }
  }
  &.vc-container {
    font-family: $font-family;
    .vc-grid-cell .vc-day-content {
      font-weight: 400;
      color: $white;
    }
  }
}

.input {
  &--text {
    font-family: $font-family;
    font-weight: $medium-weight;
    font-size: $s-size;
    padding: 0.8em 0.75em;
    background: $white;
    border: 2px solid $darkest;
    font-weight: $medium-weight;
    font-size: $s-size;
    border-radius: 0;
    -webkit-appearance: none;
    transition: background $transition-fast;
    &:hover {
      background: $grey-light;
    }
  }
  &--small {
    padding: 0.4em 0.325em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 30em;
  text-align: left;
  padding: 1em;
  margin-top: 1em;
  background: $white;
  height: min-content;
  .button, .link {
    margin: 0.5em 0;
  }
  .title, .heading {
    width: 100%;
    text-align: center;
  }
  .form {
    width: 100%;
  }
  .input-box {
    width: 100%;
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.title {
  font-size: $l-size;
  font-weight: $semibold-weight;
  margin: 0;
  &--nav {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.025em;
  }
}

.heading {
  font-size: $m-size;
  font-weight: $semibold-weight;
  margin: 0;
}

.sub-heading {
  font-size: $m-size;
  font-weight: $medium-weight;
  margin: 0;
}

.text {
  font-size: $s-size;
  font-weight: $regular-weight;
  &--bold {
    font-weight: $semibold-weight;
  }
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: 500;
}

.link {
  font-size: $s-size;
  font-weight: $medium-weight;
  text-decoration: underline;
  color: $darkest;
  &:visited {
    color: $darkest;
  }
  &:hover {
    text-decoration: underline;
  }
}

.sub-text {
  font-size: $xs-size;
  font-weight: $regular-weight;
}

.historical-chart {
  text-align: left;
  padding: 0.5em;
  margin: 0.5em 0;
  width: 95%;
  background: $white;
  box-shadow: #e8e8e8 2px 3px 3px;
  .chart {
    max-height: 15em;
    max-width: 80em;
  }
}

.settings-box {
  p {
    margin: 0.5em 0;
  }
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1 auto;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  box-sizing: border-box;
}

.toasted {
  font-family: $font-family;
  font-size: $s-size;
}

input.vc-text-base.vc-border {
  font-family: $font-family;
  font-size: $s-size;
  border: 2px solid $darkest;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 0.8em 0.75em;
  background: $white;
}

.vc-popover-content-wrapper {
  font-family: $font-family;
}

.hidden {
  display: none !important;
}

.historical-actions {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.4em 0;
  .button {
    margin-right: 0.5em;
  }
  .input-box {
    padding: 0;
    margin-right: 0.5em;
  }
}

.underline {
  text-decoration: underline;
}

.radio-container {
  display: flex;
  flex-direction: column;
  .radio-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25em 0;
    label {
      display: flex;
      width: 8em;
      align-items: center;
      justify-content: space-between;
      &:hover .input {
        background: $dark;
        border-color: $darkest;
      }
    }
    .input {
      width: 1.8em;
      height: 1.8em;
      background: #d2d2d2;
      border: solid 2px $darkest;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      transition: $transition-fast background ease-in-out, $transition-fast border-color ease-in-out;
    }
    &.active {
      .input {
        background: $accent;
        border-color: $accent;
      }
      &:hover .input {
        background: $accent-dark;
        border-color: $accent-dark;
      }
    }
    .radio {
      display: none;

    }
  }
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: $dark; 
}
*::-webkit-scrollbar-thumb {
  background: $darkest;
}